@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4414414414vw;
  }
}
@media (min-width: 1110px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.l-footer {
  background-color: #120E19;
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}

.l-inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1160px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.c-button {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  width: 200px;
  width: 12.5rem;
  text-transform: uppercase;
  background: transparent -webkit-gradient(linear, left top, right top, from(#7633A4), to(#250D65)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #7633A4 0%, #250D65 100%) 0% 0% no-repeat padding-box;
  border-radius: 50px;
  padding: 23px 0;
  padding: 1.4375rem 0;
  line-height: 1;
}

.c-hamburger {
  position: relative;
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
  z-index: 100;
}

.c-hamburger span {
  position: absolute;
  width: inherit;
  height: 2px;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-hamburger span:nth-child(1) {
  top: 15%;
}

.c-hamburger span:nth-child(2) {
  top: 51%;
  opacity: 1;
}

.c-hamburger span:nth-child(3) {
  top: 85%;
}

.c-hamburger.is-active span:nth-child(1) {
  top: 60%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger.is-active span:nth-child(2) {
  top: 51%;
  opacity: 0;
}

.c-hamburger.is-active span:nth-child(3) {
  top: 60%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-senction-header {
  color: #391E88;
  text-align: center;
}

.c-senction-header__jatitle {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .c-senction-header__jatitle {
    font-size: 0.875rem;
  }
}

.c-senction-header__engtitle {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.2333333333;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .c-senction-header__engtitle {
    font-size: 2.25rem;
  }
}

.p-footer-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  gap: 1.25rem;
}

.p-footer-nav__item a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.06em;
}

.p-footer {
  background-color: #120E19;
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}

.p-footer__inner {
  padding: 0 30px;
  padding: 0 1.875rem;
  margin: auto;
}

.p-footer__copyright {
  text-align: center;
  margin-top: 40px;
  margin-top: 2.5rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
}

.p-header {
  height: 62px;
  height: 3.875rem;
  background-color: #21054D;
  z-index: 1000;
}

.p-header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  padding: 0 0.9375rem;
}
@media screen and (min-width: 768px) {
  .p-header__inner {
    padding: 0 1.875rem;
  }
}

@media screen and (min-width: 768px) {
  .p-header__drawer {
    display: none;
  }
}

.p-header__pc-nav {
  height: inherit;
  display: none;
}
@media screen and (min-width: 768px) {
  .p-header__pc-nav {
    display: block;
  }
}

.p-header__logoLink {
  color: #fff;
}

.pc-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
}

.pc-nav__item,
.pc-nav__item a {
  height: inherit;
}

.pc-nav__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.06em;
  line-height: 1;
  font-weight: 700;
  padding-right: 12px;
  padding-right: 0.75rem;
  padding-left: 13px;
  padding-left: 0.8125rem;
}

.pc-nav__item:last-child a {
  padding-right: 0;
}

.pc-nav__item:first-child a {
  padding-left: 0;
}

.sp-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #642390;
}

.sp-nav.is-active {
  display: block;
}

.sp-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding: 100px 0;
  padding: 6.25rem 0;
}

.sp-nav__item {
  width: 100%;
}

.sp-nav__item a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  padding: 0.625rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
}
/*# sourceMappingURL=styles.css.map */
