@use 'global' as *;

.c-senction-header {
  color: $blue;
  text-align: center;
}

.c-senction-header__jatitle {
  font-size: rem(13);
  font-weight: $bold;
  letter-spacing: 0.05em;
  line-height: 1;
  @include mq(md){
    font-size: rem(14);
  }
}

.c-senction-header__engtitle {
  font-size: rem(30);
  font-weight: $bold;
  letter-spacing: 0.05em;
  line-height: calc(37 / 30);
  font-family: $english-family;
  text-transform: uppercase;
  @include mq(md){
    font-size: rem(36);
  }
}