@use 'global' as *;


.p-contact {
 padding: rem(60) 0;
 background-color: #F7F7F7;
}

.p-contact__text-block {
  text-align: center;
  margin-top: rem(30);
}

.p-contact__text {
  text-align: center;
  font-size: rem(14);
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.79;
}

.p-contact__btn {
  text-align: center;
  margin-top: rem(30);
}