@use 'global' as *;

.pc-nav {

}

.pc-nav__items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.pc-nav__item,
.pc-nav__item a {
  height: inherit;
}

.pc-nav__item a {
  display: flex;
  align-items: center;
  color: $white;
  font-size: rem(15);
  font-family: $english-family;
  letter-spacing: 0.06em;
  line-height: 1;
  font-weight: $bold;
  padding-right: rem(12);
  padding-left: rem(13);
}

.pc-nav__item:last-child a {
  padding-right: 0;
}

.pc-nav__item:first-child a {
  padding-left: 0;
}